matplotlib
numpy==2.1.3
pandas==2.2.3
yfinance>=1.3.0
# for fast data loading / recall
pyarrow
fastparquet
# for reading SPY holdings .xlsx
openpyxl
# for fetching S&P500 ticker table from Wikipedia
requests
lxml
